body{
  	background-color: #000000;
	color: #ffffff;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
 }

html{
	height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

  




.hidden-xs h1{
	font-size: normal;
	text-align: center;
}

#name {
	font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

#name a, a:visited{
	color: red;
	text-decoration: none;
}

#name a:hover{
	color: #f95ac9;
}

#navbarCollapse a:hover{
	background-color: #428bca;
	color:white;
}

a{
	color: white ;
}
a:hover{
	text-decoration: none;
	color: #428bca;
}

a:visited{
	color: #f95ac9;
}



#pagination a{
	color: #00bfff;
}

#pagination a:visited{
	color: #39ff14;
}

#pagination a:hover {
	color: #f80000;
}



#center{
	text-align: center;
}

@media (max-width: 767px){
	.nav-pills>li{
		float:none;
		text-align: center;
	}
}

.clear {
	clear: both;
	height: 63px;
}

.wrapper {
	min-height: 100%;
}

footer{
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
}


.margin-8{
	margin-top: 8%;
}

.panel{
	border: none;
}

.panel-body{
	background-color: #f9f9f9;
}

.panel-info>.panel-heading{
	color: white;
	background-color: grey;
}

.sidebar-header{
	font-size: 120%;
	letter-spacing: 2px;
}

.form-control{
	font-size: 14px;
}

.input-lg{
	font-size: 14px;
}

.form-control{
	border-radius: 0px;
}

.input-group a{
	color: black;
}

.input-group{
	color: black;
}

.input-group span{
	color: blue;
	font-size:  20px;
	float: center;
}

input[type="checkbox"] {
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0,0,0, .2);
  transition: 0.5s;
  position: relative;
}
input:checked[type="checkbox"] {
  background: #02a9f4;
}
input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
    top: 0;
  left: 0;
  background: #fff;
  transition: 0.5s;
}
input:checked[type="checkbox"]::before {
  left: 20px;
}

#Almamedov {
	font-size: normal;
	text-align: center;
	color: red;
	font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

label{
	color: #000000;

}

label:hover{
	background-color: ;
	cursor: pointer;
}

.margin-2{
	margin: 2%;
}


